
body{ background-color: #FFFDE7; align-content: center;}
.header {font-family: times; font-size:  1rem ; text-align: center; background-color: #FAD7A0; color: black;  clear: both;
float: none;}
h1 {background-color: #873600 ; color:#ECF0F1; text-align: center; font-size: 4em}
h1:hover {color: #E8F6F3 ; text-decoration: overline;}

.container {display: flex;}

nav a:hover {border-bottom: 1px solid;}

.carousel-inner img {object-fit: scale-down; height: auto; width: 100%;}

.nav2 { background-color :;padding-top: 4rem ; color:#873600; text-align: center; text-align: center;}

aside { color: black; padding-top: 4rem; box-sizing: border-box; }


    footer { color: black; clear: both; width:100%; margin-top: 10px; background-color: #873600; box-sizing: content-box;}
    .estilosubtitulo{font-family:tahoma; font-size: 2vh ; background-color: #; color: black;}
    .iconowhatsapp { position: fixed; top: 75%; right: 2%;}
    .redes { margin-top: auto; padding: 3px; }

    .redes :hover{background-color: #FCF3CF;}
